<!-- <div id="hamburger">
    <button type="menu" class="hamburger" aria-controls="idNavElements" aria-expanded="false"> 
        <svg viewbox="0 0 100 100" width="3.5em" height="3.5em">
            <line class="line top" x1="10" y1="40" x2="90" y2="40" stroke="black" stroke-width="1em" stroke-linecap="round" stroke-dasharray="80"/>
            <line class="line middle" x1="10" y1="55" x2="90" y2="55" stroke-width="1em" stroke-linecap="round" stroke-dasharray="80"/>
            <line class="line bottom" x1="10" y1="70" x2="90" y2="70" stroke="black" stroke-width="1em" stroke-linecap="round" stroke-dasharray="80"/>
        </svg>
    </button>
</div> -->

<nav id="prez" class="navigation-menu">
    <ul class="list">
        <li class="list-element presentation">
            <a class="a-style" href="#idPrez">Présentation</a>
        </li>
        <li class="list-element skills">
            <a class="a-style" href="#idSkill">Compétences</a>
        </li>
        <li class="list-element projects">
            <a class="a-style" href="#idProject">Projet(s)</a>
        </li>
        <li class="list-element contact">
            <a class="a-style" href="#idContact">Contact</a>
        </li>
    </ul>
</nav>